.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background: #ffffff;
  margin: 0.5rem auto 0.5rem auto;
  padding: 1%;
  border-radius: 0.3rem;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

#textBoxes {
  display: flex;
  flex-direction: column;
  max-width: 10rem;
}

#formQuestions {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16rem;
}
