.checkout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background: #ffffff;
}

.checkoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background: #ffffff;
  padding: 0 0.8rem 0 0.8rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  margin: 1.6rem 0 3.2rem 0;
}

.checkoutHeader {
  font-size: 2.1rem;
  width: 100%;
  text-align: center;
  margin: 1.6rem 0 1.6rem 0;
}

.textCenter {
  width: 80%;
}

.checkoutTotalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.checkoutTotal {
  width: 100%;
  max-width: 30rem;
  padding: 1.2rem 0 1.2rem 0;
  font-size: 1.6rem;
  background: #cc6072;
  color: #ffffff;
  border-radius: 0.3rem;
  margin: auto auto .8rem auto;
  text-align: center;
}

.paypalButtonsContainer {
  width: 70%;
  max-width: 30rem;
  /* margin: .8rem 0 .8rem 0; */
}

.payPalButton {
  margin: .8rem 0 .8rem 0;
}