/* container */
#donation-cart {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  width: 100%;
  margin: 1.6rem auto 1.6rem auto;
}

.shoppingCartHeader {
  font-size: 2.1rem;
  width: 100%;
  text-align: center;
  padding-bottom: 0.8rem;
}

/* card item in cart   */
.shoppingCartItem {
  display: flex;
  flex-direction: column;
  width: 80%;
  background: #ffffff;
  margin: 1.6rem auto 1.6rem auto;
  border-radius: 0.3rem;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.shoppingCartButton {
  background: #4f779d;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.3rem;
  border: none;
  margin: auto auto 1.6rem auto;
  cursor: pointer;
}

.shoppingCartButton:hover {
  background: #cc6072;
}

.itemName {
  /* border: 2px solid purple; */
  width: 50%;
  text-align: center;
  padding: 0.8rem 0 0.8rem 0;
  font-size: 1.2rem;
}

.itemPrice {
  /* border: 2px solid green; */
  width: 50%;
  text-align: center;
  padding: 0.8rem 0 0.8rem 0;
  font-size: 1.2rem;
}

.namePriceContainer {
  display: flex;
}

/* total price section */
.donationTotal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.6rem 0 1.6rem 0;
  font-size: 1.6rem;
}

.percentageContainer {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
}

#checkLabel {
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkInput {
  margin-right: .4rem;
}

.radioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;

}

.radioInput {
  margin: 0 .4rem 0 .4rem;
}